.spinner {
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 100px;
    height: 100px;
    border: 10px solid #e0e0e0;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.dark.spinner {
    border-color: #e0e0e0;
    border-top-color: #9d9d9d;
}
.spinner.small {
    width: 50px;
    height: 50px;
}

.input-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        opacity: 0.4;
    }
    100% {
        transform: rotate(360deg);
    }
}
