/* 
root { --bounce: linear(0, 0.39, 0.57, 0.52, ..., 1); }
.digit { transition: translate 1s var(--bounce); } 
*/
.grid.unconventional-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 83px;
    grid-gap: 8px;
}

.grid-item {
    grid-row: span 2;
    overflow: hidden;
}

.grid-item:nth-child(8n + 1),
.grid-item:nth-child(8n + 3),
.grid-item:nth-child(8n + 5),
.grid-item:nth-child(8n + 6) {
    grid-row: span 3;
}

.roster-wrestler-name strong.lastname-SD {
    color: var(--smackdown);
}

.grid-item.brand-SD {
    background-color: var(--smackdown);
}

.grid-item.brand-RAW {
    background-color: var(--raw);
}

.roster-wrestler-name strong.lastname-RAW {
    color: var(--raw);
}

.grid-item.brand-AWL {
    background-color: var(--awl);
}

.roster-wrestler-name strong.lastname-AWL {
    color: var(--awl);
}
.grid-item.brand-LEGEND {
    background-color: var(--legend);
}

.roster-wrestler-name strong.lastname-LEGEND {
    color: var(--legend);
}

.roster-card.relative {
    height: 214px;
}

.search-input {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.roster-card.relative .image-container {
    display: grid;
    place-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
    opacity: 1;
}

.roster-card.relative .image-container img {
    position: absolute;
    display: grid;
    place-items: center;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.roster-card.relative .roster-card-wrestler-name-container {
    position: absolute;
    bottom: 0;
    left: 0;
    writing-mode: vertical-rl;
    transform-origin: 0 0;
    height: 100%;
    border-right: 2px solid #fff;
    padding: 0 6px;
    z-index: 2;
}

.roster-card.relative .roster-card-wrestler-name-container h2 {
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.875rem;
    letter-spacing: 0.05em;
    text-shadow: -1px 1px 12px black;
    margin: 0;
    padding: 16px 0;
    transform: rotate(180deg);
}

.roster-card.relative .overlay-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
    z-index: 1;
}

.roster-card.relative .roster-wrestler-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.roster-card.relative .roster-wrestler-brand img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .grid.unconventional-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        grid-gap: 10px;
    }

    .grid-item {
        grid-row: span 1 !important;
    }

    .grid-item:nth-child(8n + 1),
    .grid-item:nth-child(8n + 3),
    .grid-item:nth-child(8n + 5),
    .grid-item:nth-child(8n + 6) {
        grid-row: span 1 !important;
    }
}
