.table-module-container .table-row.admin-teams-table-row.inactive-row {
    border-left: 4px solid #f44336;
}
.admin-teams-table-row.inactive-row img.team-wrestlers-image {
    filter: grayscale(1);
}
.table-module-container
    .table-row.admin-teams-table-row.inactive-row
    .team-name-container {
    filter: grayscale(1);
    opacity: 0.7;
}
.admin-table.admin-display.admin-teams.team-wrestlers-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.custom-clickable-options-component .clickable-option-select-item {
    width: 100%;
    text-align: center;
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #eee;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}

.custom-clickable-options-component .clickable-option-select-item.active {
    color: #fff;
    background-color: #616161;
}
.svg-filter-icon.filter-icon,
.svg-filter-icon.filter-icon-cross-close {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.svg-filter-icon.filter-icon.active,
.svg-filter-icon.filter-icon-cross-close.active {
    position: static;
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .admin-table.admin-display.admin-teams.team-wrestlers-image {
        width: 50px;
        height: 50px;
    }
}
