body.dark {
    color: #fff;
    background: linear-gradient(#535353, #000);
}
body.dark .page-title-custom,
body.dark .title-container .app-bootstrap-custom-icon {
    color: #fff;
}
body.dark .boxed {
    background: #282a36;
}
body.dark label {
    color: #fff;
}
body.dark .table-module-container .table-row {
    background: #282a36;
}
body.dark .table-module-container * {
    color: #fff;
}
body.dark .actions-option-group .three-dots-actions {
    background-color: #282a36;
    color: #fff;
}
body.dark .actions-option-group .three-dots-actions svg circle {
    stroke: #fff;
}
body.dark .actions-option-group .actions-group-actions-list {
    background-color: #282a36;
    color: #fff;
}
body.dark .actions-option-group .actions-group-actions-list .action-text {
    color: #fff;
}
