@media only screen and (max-width: 768px) {
    .page-title-custom {
        font-size: 20px;
    }
    .two-column {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid.responsive-grid-2 {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .grid.custom-component-grid.grid-responsive {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .sidebar-main-margin .custom-totalpage-wallpaper {
        margin: 0;
        width: 100%;
        height: 105vh;
    }

    .sidebar.shown + .sidebar-main-margin {
        margin-left: 0;
    }

    .sidebar.shown {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .custom-totalpage-wallpaper.principal {
        background-image: url("/rhea.webp");
    }

    .custom-totalpage-wallpaper.default {
        background-image: url("/cody.jpg");
    }

    .labeled-possible-states .possible-state-item.label {
        font-size: 16px;
        padding: 5px 10px;
    }

    .pagination .pagination-numbers button.pagination-button {
        padding: 0 4px;
        font-size: 12px;
    }

    .pagination .pagination-numbers button.pagination-button .unlink {
        color: blue;
    }

    a .fixed.btn.got-to-admin {
        position: fixed;
        bottom: 12px;
        right: 12px;
    }

    .reigns-team-create-row {
        flex-direction: column;
        gap: 10px;
    }

    dialog.dialog-modal {
        min-width: 90%;
    }

    .wrestler-card__image {
        width: 50%;
    }

    .home-spas-links .home-links {
        width: 45%;
    }

    .home-links .link {
        font-size: 20px;
    }

    input,
    textarea.custom,
    select.custom {
        font-size: 0.9em;
    }

    .flex-responsive,
    .responsive {
        flex-direction: column;
    }

    .total-image.blog-post-list-image {
        width: 100%;
        height: auto;
        /* max-height: 192px; */
    }

    .blog-post-comments-section {
        min-width: 0;
        width: 100%;
    }

    .blog-item-post-frontend {
        gap: 30px;
    }

    .grouped-selection-overall {
        display: none;
    }

    .table-item.wrestler-list-item.sex-gender-item.desktop-only {
        display: none;
    }
    .title-container .btn.btn-go-back-route .app-bootstrap-custom-icon {
        font-size: 15px;
        cursor: pointer;
    }
}
